/* 
***** Global *****
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* --color2: #cad7fda4; */
    --primary-color: #0080ff;
    --secondary-color: #0c007d;
    --Border-color: #004e97;
    --one-use-color: #062275;
    --two-use-color: #0029cb;
    --clr-text: #b3b1b1;
}

.menuicn,
.srchicn,
.dpicn {
    float: left;
}

body {
    background-color: #ededed;
    max-width: 100%;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
    transition: background-color 0.5s;
}

section {
    padding: 4rem 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 2.5rem !important;
    margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* flex */

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.fs-1 {
    font-size: 0.375rem;
}

.fs-2 {
    font-size: 0.75rem;
}

.fs-3 {
    font-size: 1.125rem;
}

.fs-4 {
    font-size: 1.5rem;
}

.fs-5 {
    font-size: 1.875rem;
}

.fs-6 {
    font-size: 2.25rem;
}

.fs-7 {
    font-size: 2.625rem;
}

.fs-8 {
    font-size: 3rem;
}

.fs-9 {
    font-size: 3.375rem;
}

.fs-10 {
    font-size: 3.75rem;
}

.fw-bold {
    font-weight: 800;
}

/* margin */

.m-1 {
    margin: 0.375rem;
}

.m-2 {
    margin: 0.75rem;
}

.m-3 {
    margin: 1.125rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-5 {
    margin: 1.875rem;
}

.m-6 {
    margin: 2.25rem;
}

.m-7 {
    margin: 2.625rem;
}

.m-8 {
    margin: 3rem;
}

.m-9 {
    margin: 3.375rem;
}

.m-10 {
    margin: 3.75rem;
}

.mx-1 {
    margin: 0 0.375rem;
}

.mb-4 {
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 22rem;
}

/* padding */

.p-1 {
    padding: 0.375rem;
}

.p-2 {
    padding: 0.75rem;
}

.p-3 {
    padding: 1.125rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 1.875rem;
}

.p-6 {
    padding: 2.25rem;
}

.p-7 {
    padding: 2.625rem;
}

.p-8 {
    padding: 3rem;
}

.p-9 {
    padding: 3.375rem;
}

.p-10 {
    padding: 3.75rem;
}

/* gap */

.gap-1 {
    gap: 0.375rem;
}

.gap-2 {
    gap: 0.75rem;
}

.gap-3 {
    gap: 1.125rem;
}

.gap-4 {
    gap: 1.5rem;
}

.gap-5 {
    gap: 1.875rem;
}

.gap-6 {
    gap: 2.25rem;
}

.gap-7 {
    gap: 2.625rem;
}

.gap-8 {
    gap: 3rem;
}

.gap-9 {
    gap: 3.375rem;
}

.gap-10 {
    gap: 3.75rem;
}



/* ---------------------------------------------------------------- */


/* 
  ***** Header *****
  */

header {
    height: 10%;
    width: 100vw;
    padding: 0 1rem;
    background-color: #fafaff;
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6875rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.icn {
    height: 2rem;
}

.message .logout-icn {
    height: 5rem;
}


.menuicn {
    cursor: pointer;
}

.searchbar,
.message,
.logosec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar2 {
    display: none;
}

.logosec {
    gap: 6rem;
}

.searchbar input {
    width: 90%;
    height: 2.8125rem;
    border-radius: 0 50px 50px 0;
    background-color: #ededed;
    padding: 0 1.25rem;
    font-size: 0.9375rem;
    outline: none;
    border: none;
}

.searchbtn {
    width: 3.125rem;
    height: 2.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 0 0 50px;
    background-color: #ededed;
    cursor: pointer;
}

.message {
    gap: 2.5rem;
    position: relative;
    cursor: pointer;
}


/* .dp {
    height: 40px;
    width: 40px;
    background-color: #626262;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  } */


/* --- sidebar menu --- */

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 4.375rem;
    z-index: 1;
}

.dpicn {
    height: 2.5rem;
}

.nav {
    min-height: 91vh;
    width: 15.625rem;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    /* box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 10px 20px 0;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 20%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 5.5%;
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {
    border-right: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
}

.nav-option .bi {
    font-size: 2rem;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option1 {
    border-right: 5px solid #010058af;
    background-color: rgb(0, 128, 255);
    color: white;
    cursor: pointer;
}

.option1:hover {
    border-right: 5px solid #0603ac;
    background-color: rgb(0, 94, 255);
}


/* ------------------- */




/* Responsive CSS Here */

@media screen and (max-width: 950px) {
    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 30px;
    }

    .nav-option h3 {
        font-size: 15px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 800px;
    }
}

@media screen and (max-width: 850px) {
    .nav-img {
        height: 30px;
    }

    .nav-option {
        gap: 30px;
    }

    .nav-option h3 {
        font-size: 20px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 700px;
    }

    .navcontainer {
        width: 100vw;
        position: absolute;
        transition: all 0.6s ease-in-out;
        top: 0;
        right: -100vw;
    }

    .nav {
        width: 100%;
        position: absolute;
    }

    .navclose {
        right: 0;
    }

    .searchbar {
        display: none;
    }

    .main {
        padding: 40px 30px 30px 30px;
    }

    .searchbar2 {
        width: 100%;
        display: flex;
        margin: 0 0 40px 0;
        justify-content: center;
    }

    .searchbar2 input {
        width: 250px;
        height: 42px;
        border-radius: 0 50px 50px 0;
        background-color: #ededed;
        padding: 0 20px;
        font-size: 15px;
        border: 2px solid var(--secondary-color);
    }
}

@media screen and (max-width: 490px) {
    .message {
        display: none;
    }

    .logosec {
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        font-size: 20px;
    }

    .menuicn {
        height: 25px;
    }

    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 25px;
    }

    .nav-option h3 {
        font-size: 12px;
    }

    .nav-upper-options {
        gap: 15px;
    }

    .recent-Articles {
        font-size: 20px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 550px;
    }
}

@media screen and (max-width: 400px) {
    .recent-Articles {
        font-size: 17px;
    }

    .view {
        width: 60px;
        font-size: 10px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 10px 5px 10px;
    }

    .searchbtn img {
        height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .recent-Articles {
        font-size: 12px;
    }

    .view {
        width: 50px;
        font-size: 8px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 5px 5px 5px;
    }

    .t-op {
        font-size: 12px;
    }

    .t-op-nextlvl {
        font-size: 10px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 300px;
    }

    .report-body {
        padding: 10px;
    }

    .label-tag {
        width: 70px;
    }

    .searchbtn {
        width: 40px;
    }

    .searchbar2 input {
        width: 180px;
    }
}